<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Page not found!</title>
	<link rel="stylesheet" href="/bootstrap.css">
</head>

<body>
	<div class="container">

		<div class="jumbotron">
			<h1>Page not found</h1>
			<p>Oh, snap! Seems you've entered invalid address!</p>
			<p><a class="btn btn-primary" href="/" role="button">Home</a></p>
		</div>
	</div>
</body>

</html>
