<%include partials/header%>

<div class="container">
	<div class="newuser">
		<h1>You can register here!</h1>
		<form action="/register" method="post">
			<div class="form-group">
				<input class="form-control" type="email" name="email" placeholder="email" autocomplete="off" pattern="^([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@(([0-9a-zA-Z][-\w])*[0-9a-zA-Z]\.)+[a-zA-Z]{1,9})$" title="Please enter a valid email address">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="username" placeholder="username" autocomplete="off" pattern="^[a-zA-Z0-9_-]{3,20}$" title="Your username should be 3-20 characters long and can contain letters, numbers and '-', '_' signs">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="firstname" placeholder="firstname" autocomplete="off" pattern="^[a-zA-Z0-9_-]{3,20}$" title="Your first name should be 3-20 characters long and can contain letters, numbers and '-', '_' signs">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="lastname" placeholder="lastname" autocomplete="off" pattern="^[a-zA-Z0-9_-]{3,20}$" title="Your last name should be 3-20 characters long and can contain letters, numbers and '-', '_' signs">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" name="location" placeholder="location" autocomplete="off">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="password" autocomplete="off" pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{6,15})$" title="Your password should be at least 6 symbols long and contain letters and numbers">
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">Submit</button>
			</div>
		</form>
	</div>
</div>
<%include partials/footer%>
