#newcamp {
	margin: 10% 10% 0 10%;
	padding: 0;
	text-align: center;
}

.show {
	display: block;
}

.newuser {
	text-align: center;
	margin: auto 35% auto 35%;
}

.inputto {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

/* .thumbnail {
	padding: 0;
} */

.thumbnail .caption {
	padding: 0;
}

.thumbnail .caption img {
	width: 100%;
}

.inputtocom {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.body {
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.description h4 {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

.description #more {
	margin-bottom: 1rem;
}

.showdescription h4, .showdescription p {
	padding-left: 1rem;
	padding-right: 1rem;
}

.editdelete {
	margin-top: 0.8rem;
	display: flex;
}

.editdelete a {
	margin: auto 1rem;
	margin-bottom: 1rem;
}

.editdeletecomments {
	margin-top: 0.2rem;
	display: flex;
}

.editdeletecomments a {
	margin: 0 1rem 0 1rem;
}

.pull-right {
	margin-top: 0;
}
.comments {
	border: 1px solid lightgrey;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	background: lightgray;
	border-radius: 5px;
}

.btn-group-vertical {
	width: 100%;
}

.btn-group-vertical button {
	text-align: left;
}

.review a {
	float: right;
}

.review {
	padding: 1.5rem;
	border-bottom: 1px solid grey;
	margin-bottom: 1rem;
}

.commento p {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 0%;
	margin-bottom: 0%;
}

.commento {
	margin: 0 0 1rem 0;
}


.caption img {
	width: 100%;
	margin: 0%;
}

#map {
	height: 400px;
	width: 100%;
}

.newMessage, .myNewMessage {
	background: lightblue;
	transition: background 3s ease-in-out !important;
    -webkit-transition: background 3s ease-in-out;
    -moz-transition: background 3s ease-in-out;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#image {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

input.form-control, select.form-control, textarea.form-control {
	background-color:#375a7f;
	color: white
}

textarea {
	/* resize: none; */
}

::-webkit-scrollbar {
	width: 5px;
}
 
 /* Track */
::-webkit-scrollbar-track {
	background: #050505; 
}
  
 /* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(46, 44, 44); 
}
 
 /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.button-group-vertical > select.form-control {
	border: 1px solid white;
}

.button-group-vertical > input.form-control {
	border: 1px solid white;
}

#userparamsform > input.form-control, #sorting {
	border: 1px solid white;
}

#possibility, #disability {
	display: block;
}

#possibilities-labels {
	text-align: center;
}
